/*---------reset-------------*/

@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Inconsolata:wght@300&family=Nabla&family=Press+Start+2P&family=Rock+Salt&family=Rye&family=Schoolbell&family=UnifrakturMaguntia&display=swap');
*{
    margin: 0;
    padding: 0;
}
.body{
    width:100%;
    height: 100vh;
}

/*---------header-------------*/
    /*! FLEX*/
header{
    height: 78px;
    width: 100%;
    background: linear-gradient(90deg, #a175a6 0%, rgba(116,169,188,1) 51%, rgba(70,220,209,1) 100%);
    position: fixed;
    top: 0px;
}

.header {
height: 80px;
width: 100%;    
justify-items: center;
justify-content: center;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;

}



/*---------opciones-------------*/
.opciones {
    width: 30%;


}
.opciones ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.opciones ul li{
    display: inline-block;
    
}
/*---------transiton nav-------------*/

.inicio-trasition{ 
    transition: 2s;

}
.inicio-trasition:hover{
    transform: scale(1.5);


}
.productos-trasition{ 
    transition: 2s;
}
.productos-trasition:hover{
    transform: scale(1.5);
}
.nosotros-trasition{ 
    transition: 2s;
}
.nosotros-trasition:hover{
    transform: scale(1.5);
}
.contactos-trasition{ 
    transition: 2s;
}
.contactos-trasition:hover{
    transform: scale(1.5);
}

.opciones ul li a{
    text-decoration:none;
    margin: 10px 15px;
    color: #F2F0C2;
    font-family: 'Inconsolata', monospace;

}
.opciones ul li a:hover{
    color: #852b8f;
}

/*---------hero-------------*/

.hero{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(84, 3, 87, 0.342), rgba(20, 94, 173, 0.158)), url("../Imagen/flama\ vela.jpeg");
    background-size: cover;
    background-attachment: fixed;
}









/*---------MAIN-------------*/
.venta {
    font-family: 'Inconsolata', monospace;
    color: #F2F0C2;
    background-color: #7ecea8;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.venta div{
    width: 325px;
    height:405px;
    border-radius:1.5%;
    border: 2px solid #5f8688;
    background-color: #47a39759;
    display:inline-block;
    text-align: center;
    margin: 10px;
    padding: 5px;



}
.venta div img{
    border: 1px solid #F2F0C2;
    width: 250px;
    height:325px;
    margin: 10px;
}
.venta div a{
    color: #F2F0C2;
    font-family: 'Inconsolata', monospace;
    display: inline-block;
    background-color: darkmagenta;
    padding: 5px;
    margin: 5px;

    text-decoration: none
    
    
}
.tituloProducto{
    width: 100%;
    font-size: 40px;
    font-weight: 100;
    font-family: 'Inconsolata', monospace; 
    text-align: center;
    color: #F2F0C2;
    background-color: #7ecea8;
    padding:10px;
}
/*---------transiton venta-------------*/
.venta div {
    transition: 1s;
}
.venta div:hover{
    transform: scale(1.1);
    box-shadow: 13px 6px 28px -8px rgba(74,74,74,1);
    -webkit-box-shadow: 13px 6px 28px -8px rgba(74,74,74,1);
    -moz-box-shadow: 13px 6px 28px -8px rgba(74,74,74,1);
}

/*---------whatapp volador-------------*/
.fixed{
    position: fixed;
    right: 50px;
    bottom: 50px;
}
.fixed img{
    width: 55px;
    height: 55px;
}


/*---------Footer-------------*/
footer{
    width: 100%;
    background: linear-gradient(90deg, rgba(161,117,166,1) 0%, rgba(116,169,188,1) 51%, rgba(70,220,209,1) 100%);
}
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.iconos img{
    width: 40x;
    height: 40px;

    margin: 20px;
    
}

footer iframe{

    width: 300px;
    height: 80px;
    margin: 5px;
    


}